

	<div class="blurb-picture">
		<img class="profile-pic" src="/test.jpg">
	</div>

	<div class="blurb-content">
		<p class="blurb-main">
			Hi, I'm Matt DeMichele. I am a Computer Science and Physics major at the Illinois Institute of Technology. On the side, I'm also a full-stack developer, an avid programmer, and UI designer.
		</p><br>

		<p class="">
			You can hire me as a freelance web developer, designer, or consultant. If you want to see my credentials and past work, click <a href="{{ "/cv/" | relative_url }}">here</a>
		</p>
	</div>
